@media screen and (min-width: 196px) {

    .header-section {
        text-align: center;
    }
    
    #personal-logo {
        margin-top: 3vh;
        width:80%;
        height: auto;
    }
    
    .seperator {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        opacity: 0.5;
        position: relative;
        top: -30px;
    }

    .footer-section {
        position: fixed;
        bottom: 0;
        background-color: black;
        width: 100%;
    }

    .copyright-info {
        font-size: 9px;
        color: white;
        font-family: sans-serif;
        float: right;
        margin-right: 2vw;
    }
}